services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID=${PLEX_UID}
      - PGID=${SHARED_GID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      - VERSION=docker
      # - PLEX_CLAIM=optional
    ports:
      - "32400:32400"
    volumes:
      - ${CONFIG_BASE}/plex:/config
      - ${DATA_BASE}:/data
    restart: unless-stopped
    networks:
      - main

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${SONARR_UID}
      - PGID=${SHARED_GID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_BASE}/sonarr:/config
      - ${DATA_BASE}:/data
    ports:
      - 8989:8989
    restart: unless-stopped
    networks:
      - main

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${RADARR_UID}
      - PGID=${SHARED_GID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_BASE}/radarr:/config
      - ${DATA_BASE}:/data
    ports:
      - 7878:7878
    restart: unless-stopped
    networks:
      - main

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=${BAZARR_UID}
      - PGID=${SHARED_GID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_BASE}/bazarr:/config
      - ${DATA_BASE}:/data
    ports:
      - 6767:6767
    restart: unless-stopped
    networks:
      - main

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PROWLARR_UID}
      - PGID=${SHARED_GID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_BASE}/prowlarr:/config
      - ${DATA_BASE}:/data
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - main

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=${OVERSEERR_UID}
      - PGID=${SHARED_GID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_BASE}/overseerr:/config
      - ${DATA_BASE}:/data
    ports:
      - 5055:5055
    restart: unless-stopped
    networks:
      - main

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=${QBITTORRENT_UID}
      - PGID=${SHARED_GID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ${CONFIG_BASE}/qbittorrent:/config
      - ${DATA_BASE}:/downloads
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped

networks:
  main:
